SITE_ADDRESS=fastraven.loc
AUTH_DOMAIN=.fastraven.loc

DB_HOST=localhost

DB_NAME=test
DB_USER=raven
DB_PASS=secret

DB_SSL=false
DB_SSL_CA=/path/to/ca.pem
DB_PERSISTENT=true

SMTP_HOST=smtp.fastraven.loc
SMTP_ENCRYPTION=tls
SMTP_PORT=587
SMTP_USER=raven@fastraven.loc
SMTP_PASS=secret