<?php

use FastRaven\Bee;

Bee::defineEnv("STATE", "dev");
Bee::defineEnv("VERSION", "0.0.1");

// VARIABLES FOR DEVELOPMENT
if(Bee::isDev()) {
    // Globals
    Bee::defineEnv("SITE_ADDRESS", "fastraven.loc");
    Bee::defineEnv("AUTH_DOMAIN", ".fastraven.loc");

    // Database
    Bee::defineEnv("DB_HOST", "localhost");
    Bee::defineEnv("DB_PORT", "3306");
    Bee::defineEnv("DB_NAME", "test");
    Bee::defineEnv("DB_USER", "raven");
    Bee::defineEnv("DB_PASS", "secret");
    Bee::defineEnv("DB_SSL", "false");
    Bee::defineEnv("DB_SSL_CA", "/path/to/ca.pem");
    Bee::defineEnv("DB_PERSISTENT", "true");

    // SMTP
    Bee::defineEnv("SMTP_HOST", "smtp.fastraven.loc");
    Bee::defineEnv("SMTP_ENCRYPTION", "tls");
    Bee::defineEnv("SMTP_PORT", "587");
    Bee::defineEnv("SMTP_USER", "raven@fastraven.loc");
    Bee::defineEnv("SMTP_PASS", "secret");

    // SHMOP
    Bee::defineEnv("SHMOP_MAX_SIZE", "1024"); // In KB
}

// VARIABLES FOR PRODUCTION
else {
    // Globals
    Bee::defineEnv("SITE_ADDRESS", "fastraven.loc");
    Bee::defineEnv("AUTH_DOMAIN", ".fastraven.loc");

    // Database
    Bee::defineEnv("DB_HOST", "localhost");
    Bee::defineEnv("DB_PORT", "3306");
    Bee::defineEnv("DB_NAME", "test");
    Bee::defineEnv("DB_USER", "raven");
    Bee::defineEnv("DB_PASS", "secret");
    Bee::defineEnv("DB_SSL", "false");
    Bee::defineEnv("DB_SSL_CA", "/path/to/ca.pem");
    Bee::defineEnv("DB_PERSISTENT", "true");

    // SMTP
    Bee::defineEnv("SMTP_HOST", "smtp.fastraven.loc");
    Bee::defineEnv("SMTP_ENCRYPTION", "tls");
    Bee::defineEnv("SMTP_PORT", "587");
    Bee::defineEnv("SMTP_USER", "raven@fastraven.loc");
    Bee::defineEnv("SMTP_PASS", "secret");

    // SHMOP
    Bee::defineEnv("SHMOP_MAX_SIZE", "1024"); // In KB
}

